<nav
  class="flex items-center justify-between border-t border-gray-200 bg-white px-4 py-3 sm:px-6"
  aria-label="Pagination">
  <div class="hidden sm:block">
    <p class="text-sm text-gray-700">
      Showing
      <span class="font-medium">{{ (page - 1) * pageSize + 1 }}</span>
      to
      <span class="font-medium">{{ Math.min(page * pageSize, totalRoutes) }}</span>
      of
      <span class="font-medium">{{ totalRoutes }}</span>
      results
    </p>
  </div>

  <div class="flex flex-1 justify-between sm:justify-end">
    <div class="flex items-center gap-3 px-3">
      <label for="pageSize" class="block text-sm/6 font-medium text-gray-900">Page size</label>
      <div class="relative inline-block text-black">
        <input
          (ngModelChange)="onPageSizeChange($event)"
          [ngModel]="pageSize"
          type="number"
          name="pageSize"
          id="pageSize"
          class="block w-full max-w-[90px] rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6"
          placeholder="you@example.com" />

        <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center pr-3">
          <svg class="h-4 w-4 text-gray-500" viewBox="0 0 16 16" fill="currentColor">
            <path
              fill-rule="evenodd"
              d="M4.22 6.22a.75.75 0 0 1 1.06 0L8 8.94l2.72-2.72a.75.75 0 1 1 1.06 1.06l-3.25 3.25a.75.75 0 0 1-1.06 0L4.22 7.28a.75.75 0 0 1 0-1.06Z"
              clip-rule="evenodd" />
          </svg>
        </div>
      </div>
    </div>
    @if (page > 1) {
      <a
        [routerLink]="previousLink"
        class="relative inline-flex items-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 ring-1 ring-gray-300 ring-inset hover:bg-gray-50">
        Previous
      </a>
    }
    @if (page * pageSize < totalRoutes) {
      <a
        [routerLink]="nextLink"
        class="relative ml-3 inline-flex items-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 ring-1 ring-gray-300 ring-inset hover:bg-gray-50">
        Next
      </a>
    }
  </div>
</nav>
