<tr class="divide-x divide-gray-200">
  @if (isEditing) {
    <td class="pr-2">
      <div class="flex items-center justify-between gap-2">
        <input
          type="text"
          [(ngModel)]="route.address"
          placeholder="192.168.0.42"
          class="focus:outline-primary-600 block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-500 focus:outline-2 focus:-outline-offset-2 disabled:cursor-not-allowed disabled:bg-gray-50 disabled:text-gray-500 disabled:outline-gray-200 sm:text-sm/6" />
        <input
          type="text"
          [(ngModel)]="route.mask"
          placeholder="24"
          class="focus:outline-primary-600 block w-full max-w-[100px] rounded-md bg-white px-3 py-1.5 text-center text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-500 focus:outline-2 focus:-outline-offset-2 disabled:cursor-not-allowed disabled:bg-gray-50 disabled:text-gray-500 disabled:outline-gray-200 sm:text-sm/6" />
      </div>
    </td>

    <td class="p-2">
      <input
        type="text"
        [(ngModel)]="route.gateway"
        placeholder="192.168.0.1"
        class="focus:outline-primary-600 block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-500 focus:outline-2 focus:-outline-offset-2 disabled:cursor-not-allowed disabled:bg-gray-50 disabled:text-gray-500 disabled:outline-gray-200 sm:text-sm/6" />
    </td>
    <td class="p-2">
      <input
        type="text"
        [(ngModel)]="route.interface"
        placeholder="eth0"
        class="focus:outline-primary-600 block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-500 focus:outline-2 focus:-outline-offset-2 disabled:cursor-not-allowed disabled:bg-gray-50 disabled:text-gray-500 disabled:outline-gray-200 sm:text-sm/6" />
    </td>
  } @else {
    <td
      class="group/clipboard-button py-4 pr-4 pl-4 text-sm font-medium whitespace-nowrap text-gray-500 sm:pl-0">
      <div class="inline-flex items-center">
        <span>
          {{ route.address }}/<span class="text-primary-600">{{ route.mask }}</span>
        </span>
        <app-copy-button [copiedText]="route.address + '/' + route.mask" />
      </div>
    </td>
  <td class="group/clipboard-button text-sm font-medium whitespace-nowrap text-gray-500 sm:pl-0">
    <div class="inline-flex items-center">
      <span class="pl-4">
        {{ route.gateway }}
      </span>
      <app-copy-button [copiedText]="route.gateway" />
    </div>
  </td>
  <td class="group/clipboard-button p-4 text-sm whitespace-nowrap text-gray-500">
    <div class="inline-flex items-center">
      <span class="pl-4">
        {{ route.interface }}
      </span>
      <app-copy-button [copiedText]="route.interface" />
    </div>
  </td>
  }

  <td class="inline-flex items-center gap-3 p-4 text-sm">
    @if (isEditing) {
      <app-save-button (click)="save()"/>
    } @else {
    <app-edit-button (click)="edit()" />
    }
    <app-delete-button (delete)="onDelete.emit()" />
  </td>
</tr>
